
body {
    padding: 10px;
    background-color: #d1e8ee;
    font-family: Kumbh Sans;
}

h1{
    color: 222831;
}

h2{
    color: 222831;
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
}


h1{
    text-align: left;
    font-weight: bold;
    display: inline-block;
    border-bottom: 5px solid #000;
}

 h1{
    border-bottom-color: 3282b8;
}
.dfle{
    display: flex;
}

strong{
    padding-left: 10px;
}

.custom-card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 30px;
    box-shadow: 10px 10px 30px rgba(0,109,175,.2);
}

.card-heading{
    font-weight: bold;
    font-size: 1.5rem;
}

.card-link{
    border-radius: 5px;
    padding: 9px 8px;
    padding-bottom: 5px;
}

.form-text{
    padding-top: 10px;
}

.card-body1{
    padding-bottom: 30px;
}

.form-group , label{
    font-size: medium;
}

.id_comment_text{
    padding-right: 20px;
}

#listing-content{
    margin-bottom: 40px;
    letter-spacing: 2px;
}

#id_comment_text{
    margin-left: 10px;
}

.card{
    box-shadow: 10px 10px 30px rgba(0,109,175,.2);
    background-color: 98d6ea;
}

h5{
    letter-spacing: 1px;
    margin-top: 4px;
}
