{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <!----Card for Active listing-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt=" List image">
  <div class="card-body">
    <h5 class="card-title">Product Title</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <div class="card-body1">
    <a href="#" class="card-link btn-primary btn-lg">View</a>
  </div>
</div>


{% endblock %}


<div class="card text-center custom-card mx-auto mt-3 style="width: 18rem;></div>

