{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
<script src="{% static 'auctions/script.js' %}"></script>
{% if listing %}
<div class="card" style="padding-left: 3rem; padding-right: 3rem; max-width: 600px; margin:auto;">
    <h2 class="mr-auto float-left">{{listing.title}}</h2>
    <button type="button" onclick="closeListing('{{listing.id}}')"
        class="btn btn-primary ml-auto float-right">🔐</button>
{% if listing.is_closed %}
<div id='closed'><p>Listing closed</p></div>
{% else %}

    <div id="listing-content">
        <h5>Starting bid: {{listing.starting_bid}}</h5>
        <h5>Created by: {{listing.created_user}}</h5>
        <p>{{listing.description}}</p>

        <!-- Comments -->
        <h2>Comments</h2>

        {% if user.is_authenticated %}
        <!-- TODO add the form -->

        <form action="/listing?id={{listing.id}}" method="post">
            {% csrf_token %}
            {{new_comment_form}}
            <button type="submit">Add comment</button>
        </form>
        {% endif %}

        <!-- Check if any comments -->
        {% if comments %}
        {% for comment in comments %}

        <div class="card">
            <h6>{{comment.user}}</h6>
            <p>{{comment.comment_text}}</p>
        </div>
        {% endfor %}
        {% else %}
    <p>Be the first one to comment</p>
    {% endif %}

    </div>

    <div id='closed' style="display: none;"><p>Listing closed</p></div>
    {% endif %}
</div>

{% else %}
<h1>Could not find the listing you specified!!</h1>
{% endif %}
{%endblock%}

