{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}
<script src="{% static 'auctions/script.js' %}"></script>

<!-- Show the card if the listing is present -->
{% if listing %}
<div class="card" style="" id="listing-card">
    <div class="dfle">
        <h2 class="float-left">{{listing.title}}</h2>

        {% if listing.is_closed %}
        <div id='closed'>
            <p>Listing closed</p>
        </div>
        {% else %}

        <!-- <button type="button" onclick="closeListing('{{listing.id}}')" class="btn btn-primary" width="2em" height="2em">🔐</button> -->
        <div class="float-right">
            <svg width="2em" height="2em" onclick="closeListing('{{listing.id}}')" viewBox="0 0 16 16"
                class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
            </svg>


            <svg onclick="addToWatchList('{{listing.id}}')" width="2em" height="2em" viewBox="0 0 16 16"
                class="bi bi-bag-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
            </svg>

        </div>

    </div>
    <div id="listing-content">
        <h5 id='max-bid'>Highest bid: {{listing.starting_bid}}</h5>

        <h4>Created by: <strong>{{listing.created_user}}</strong></h4>
        <b>{{listing.description}}</b>

        <!-- Bid area -->
        {% if user.is_authenticated %}
        <div class="mt-3">
            <button onclick="showBid('{{listing.id}}')" class="btn btn-primary">Bid</button>
            <div style="display: none;" id="bid-area-{{listing.id}}" class="mt-3">
                <input type="number" id="bid-amt-{{listing.id}}" class="form-control">
                <button onclick="bid('{{listing.id}}')" class="btn btn-primary mt-3">Bid Now!</button>
            </div>
        </div>
        {% endif %}

        <!-- Comments -->
        <div class="mt-3">
            <h2>Comments</h2>

            {% if user.is_authenticated %}

            <form action="/listing?id={{listing.id}}" method="post">
                {% csrf_token %}
                {{new_comment_form}}
                <button class="btn btn-primary" id="comment-btn" type="submit">Add comment</button>
            </form>
            {% endif %}

            <!-- Check if any comments -->
            {% if comments %}
            {% for comment in comments %}

            <div class=" mt-3">
                <h6><b>{{comment.user}}</b></h6>
                <p>{{comment.comment_text}}</p>
            </div>
            {% endfor %}
            {% else %}
            <b>Be the first one to comment</b>
            {% endif %}
        </div>

    </div>

    <div id='closed' style="display: none;">
        <p>Listing closed</p>
    </div>
    {% endif %}
</div>

{% else %}
<!-- Error -->
<h1>Could not find the listing you specified!!</h1>
{% endif %}
{%endblock%}